################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/Emulator/v15
/src/.vs/Emulator/v15/.suo
/src/packages
/src/Simulator/bin/Debug
