################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/Emulator/v15
/src/.vs/Emulator/v15/.suo
/src/packages
/src/Simulator/bin/Debug
/src/Tests/Tests.Simulator/bin/Debug
/src/Tests/Tests.Simulator/obj
/src/Simulator/obj/Debug
/src/Tbx32.Core/obj/Debug
/src/Tbx32.Core/bin/Debug
/src/Simulator/bin/Release
/src/Simulator/obj/Release
/src/Tbx32.Core/bin/Release
/src/Tbx32.Core/obj/Release
/src/Tests/Tests.Simulator/bin/Release
